- name: "Install httpd, php and php-mysql daemon"
  become: yes
  become_user: root
  package:
    name: ['httpd', 'php', 'php-mysql']
    state: installed

- name: "Ensure httpd.conf file points to index.php"
  lineinfile:
    path: /etc/httpd/conf/httpd.conf
    regexp: '^(.*)index.html(.*)$'
    line: "\tDirectoryIndex index.php"
    backrefs: yes

- name: "Start httpd service"
  service:
    name: httpd
    enabled: true
    state: started