version: '3.8'
services:
    web:
        build:
            context: ./php-apache-web
            dockerfile: Dockerfile
        depends_on:
            - db
        volumes:
            - /var/www/html/src:/var/www/html/
        ports:
            - "8000-8005:80"
    db:
        build:
            context: ./mariadb
            dockerfile: Dockerfile
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
            MYSQL_DATABASE: "{{ mysql_db }}"
            MYSQL_USER: "{{ mysql_user }}"
            MYSQL_PASSWORD: "{{ mysql_password }}"
        ports:
            - "3000-3005:3306"
    ngnix:
        build:
            context: ./nginx
            dockerfile: Dockerfile
        depends_on:
            - web
        ports:
            - "5000:80"